body {
    font-family: 'Roboto', "sans serif";
    padding-top: 40px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a.logo {
    display: inline-block;
    vertical-align: top;
    font-size: 80px;
    margin-bottom:  40px;
    color: black;
}

a.logo > span {
    color: #4BCAFF;
}

.nav-list {
    display: flex;
    justify-content: center;
    background-color: #35444F;
}

.nav-list-item {
    border-left: 1px solid white;
    transition-duration: .5s;
}

.nav-list-item:last-of-type {
    border-right: 1px solid white;
}

.nav-link {
    display: block;
    font-size: 24px;
    color: white;
    padding: 26px 38px 19px;
}

.nav-list-item:hover {
    background-color:  #222F3A;
}

.wrapper-flex {
    display: flex;
    justify-content: space-between;
}

.main-aside {
    margin:  48px 0 51px;
}

aside {
    align-self: flex-start;
    border: 1px solid #000000;
    width: 344px;
}

.aside-list-title,
.aside-list-link {
    display: block;
    font-size: 27px;
    color: #495863;
    padding: 26px 44px;
    transition: background-color .7s, color 0s, padding .7s;
}

main {
    width: 885px;
}

.wrapper-image {
    border: 1px solid #000;
}

main .primary-image {
    display: block;
    margin: 75px auto;
    transition-duration: 1s; 
}

.main-content-text {
    font-size: 18px;
    margin-top: 37px;
    line-height: 1.33;
}

main .primary-image:hover   {
    transform: scale(1.2);
}

.aside-list-title:hover,
.aside-list-link:hover {
    color: #000;
    background-color: #DBDBDB;
    padding-left: 74px;
}

footer {
    padding: 20px 40px 8px;
    background: rgba(99, 105, 110, 0.48);
    padding-bottom: 7px;
}

.footer-menu {
    width: 875px;
}

.footer-menu-link {
    display: block;
    font-size: 28px;
    color: #0C1927;
    padding-bottom: 13px;
    /*чтобы не прыгали блоки на 1рх, т.к. после ховера добавляется высота 1рх бордером */    
    border-bottom: 1px solid rgba(99, 105, 110, 0);    
    transition: color .5s, border 0s;
}

.copyright {
    font-size: 28px;
    color: #010101;
    border-bottom: 1px solid rgba(99, 105, 110, 0);
}


.footer-menu-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}